* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: #aaa;
  background-color: #aaa;
}

button {
  font: inherit;
  cursor: pointer;
  background-color: #6a00e4;
  border: 1px solid #494949;
  color: rgb(255, 255, 255);
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
}

button:hover,
button:active {
  background-color: #14a7ac;
  border-color: #424242;
}
